*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
    font-weight: bold;
}
.row {
    width: 100%;
}

p {
    border: 1px solid black;
    height: 35px;
    width: 100px;
    float: right;
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
    border: 1px solid black;
    background-color: grey;
    padding: 0px 0px 10px 10px;
    margin: 10px;
    font-size: 20px;
    height: 200px;
    overflow: auto;
    position: relative;
    color: black;
}

#p1 {
    background: lightseagreen;
}

#p2 {
    background: green;
}

#p3 {
    background: brown;
}


@media (min-width: 992px) {

    .col-lg-1 {
        float: left;
        width: 33.33%;
    }
    .col-lg-2 {
        float: left;
        width: 33.33%;
    }
    .col-lg-3 {
        float: left;
        width: 33.33%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        float: left;
        width: 50%;
    }
    .col-md-2 {
        float: left;
        width: 50%;
    }
    .col-md-3 {
        float: left;
        width: 100%;
    }
}


@media (max-width: 767px) {

    .col-sm-1 {
        float: left;
        width: 100%;
    }
    .col-sm-2 {
        float: left;
        width: 100%;
    }
    .col-sm-3 {
        float: left;
        width: 100%;
    }
}